@import "tailwindcss";

/* Определяем вариант dark и здесь тоже (у каждого свой контекст сборки) */
@variant dark (&:where(.dark, .dark *));

/* Импортируем стили UI-кита через относительный путь */
@import "../../ui/src/style.css";

/* 
  Сканируем компоненты клиента.
  И плагины (так как они часть приложения в данном контексте),
  но НЕ сканируем UI кит (он приедет готовым).
*/
@source "./**/*.{vue,ts}";
@source "../../../plugins/**/src/**/*.vue";

/* Глобальные настройки влияния на UI */
:root {
  --udt-scale: 1;
  --udt-opacity: 1;
}

/* Применяем глобальный фон, используя переменные из UI */
body {
  background-color: var(--udt-bg);
  color: var(--udt-text);
  transition: background-color 0.1s ease, color 0.1s ease;
}

/* Класс для отключения анимаций */
.udt-reduce-motion *,
.udt-reduce-motion *::before,
.udt-reduce-motion *::after {
  animation-duration: 0.01ms !important;
  animation-iteration-count: 1 !important;
  transition-duration: 0.01ms !important;
  scroll-behavior: auto !important;
}
