@import "tailwindcss";

/* 
  Сканируем компоненты самого клиента.
  Также сканируем UI кит (на случай если мы используем классы напрямую в коде)
*/
@source "./**/*.{vue,ts}";
@source "../../ui/src/components/**/*.vue";

/* Импортируем базовые стили UI кита */
@import "../../ui/src/style.css";

