/* Подключаем Tailwind v4 */
@import "tailwindcss";

/* Включаем ручное переключение темы через класс .dark */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --udt-c-primary: #6366f1;
  --udt-c-primary-hover: #4f46e5;
  --udt-bg: #ffffff;
  --udt-bg-soft: #f9fafb;
  --udt-border: #e5e7eb;
  --udt-text: #1f2937;
  --udt-text-dim: #6b7280;
  --udt-radius: 4px;
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

/* Стили для темной темы */
html.dark {
  --udt-bg: #0f172a; /* Slate 900 */
  --udt-bg-soft: #1e293b; /* Slate 800 */
  --udt-border: #334155;
  --udt-text: #f8fafc;
  --udt-text-dim: #94a3b8;
  
  color-scheme: dark; /* Важно для скроллбаров и нативных элементов */
}

body {
  background-color: var(--udt-bg);
  color: var(--udt-text);
  transition:
    background-color 0.2s,
    color 0.2s;
}

.udt-reset * {
  box-sizing: border-box;
}
